<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui"
	 xmlns:netfx="http://wixtoolset.org/schemas/v4/wxs/netfx">

  <Package Name="HexEditor" Language="1033" Version="2.0.0.0" Manufacturer="Be" UpgradeCode="{6B316239-5D5D-4F37-A231-637757435516}" InstallerVersion="301" ProductCode="{2C67B813-B9DC-435B-BDD0-C815F4F57C18}">
    <SummaryInformation Description="HexEditor" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <Media Id="1" Cabinet="Data.cab" EmbedCab="yes" />

    <Feature Id="ProductFeature" Title="HexEditor Setup" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
		<!--
        <ComponentGroupRef Id="Runtimes" />
        -->
		<ComponentGroupRef Id="LanguageDe" />
		<ComponentGroupRef Id="LanguageIt" />
		<ComponentGroupRef Id="LanguageJa" />
		<ComponentGroupRef Id="LanguageRu" />
		<ComponentGroupRef Id="LanguageZh_Hans" />
		<ComponentGroupRef Id="ProductComponents2" />
    </Feature>
    <UI />
    <netfx:DotNetCompatibilityCheck
      Property="DOTNETRUNTIMECHECK"
      RollForward="major"
      RuntimeType="desktop"
	  Platform="x64"
      Version="8.0.0"
  />
 
    <ui:WixUI Id="WixUI_Minimal" />
    <UIRef Id="WixUI_ErrorProgressText" />
    <Icon Id="MainIcon.ico" SourceFile="App.ico" />
    <Property Id="ARPPRODUCTICON" Value="MainIcon.ico" />
    <Property Id="ARPHELPLINK" Value="https://github.com/harborsiem/Be.HexEditor" />
    <Property Id="ARPCOMMENTS" Value="HexEditor" />
    <Property Id="ARPURLUPDATEINFO" Value="https://github.com/harborsiem/Be.HexEditor/releases" />
    <Property Id="ARPNOREPAIR" Value="yes" />
    <WixVariable Id="WixUILicenseRtf" Value="MIT_License.rtf" />
  </Package>

  <Fragment>
      <StandardDirectory Id="ProgramFiles64Folder">
        <Directory Id="Di.INSTALLFOLDER" Name="Be.HexEditor">
			<!--
            <Directory Id="Di.RuntimeFolder" Name="runtimes\win\lib\net8.0">
			</Directory>
            -->
			<Directory Id="Di.LanguageDe" Name="de"></Directory>
			<Directory Id="Di.LanguageIt" Name="it"></Directory>
			<Directory Id="Di.LanguageJa" Name="ja"></Directory>
			<Directory Id="Di.LanguageRu" Name="ru"></Directory>
			<Directory Id="Di.LanguageZh_Hans" Name="zh-Hans"></Directory>
		</Directory>
      </StandardDirectory>
      <StandardDirectory Id="ProgramMenuFolder">
      </StandardDirectory>
    </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="Di.INSTALLFOLDER">
      <Component Id="C.HexEditorBin" Guid="D0AB8E49-9794-429B-888B-C591AF0B1E84">
        <Environment Id="PATH" Name="Path" Value="[Di.INSTALLFOLDER]" Permanent="no" Part="last" Action="set" System="yes" />
        <File Id="Fi.HexEditorExe" Name="Be.HexEditor.exe" Source="..\Be.HexEditor\bin\Release\net8.0-windows\Be.HexEditor.exe" KeyPath="yes" />
		<File Id="Fi.HexEditorDll" Name="Be.HexEditor.dll" Source="..\Be.HexEditor\bin\Release\net8.0-windows\Be.HexEditor.dll" Checksum="yes" />
		<File Id="Fi.HexEditorConfig" Name="Be.HexEditor.dll.config" Source="..\Be.HexEditor\bin\Release\net8.0-windows\Be.HexEditor.dll.config" Checksum="yes" />
		  <File Id="Fi.HexBoxDll" Name="Be.Windows.Forms.HexBox.dll" Source="..\Be.HexEditor\bin\Release\net8.0-windows\Be.Windows.Forms.HexBox.dll" Checksum="yes" />
		  <File Id="Fi.HexEditorDeps" Name="Be.HexEditor.deps.json" Source="..\Be.HexEditor\bin\Release\net8.0-windows\Be.HexEditor.deps.json" Checksum="yes" />
		  <File Id="Fi.HexEditorRuntimeconfig" Name="Be.HexEditor.runtimeconfig.json" Source="..\Be.HexEditor\bin\Release\net8.0-windows\Be.HexEditor.runtimeconfig.json" Checksum="yes" />
		  <!--
          <File Id="Fi.CodePages" Name="System.Text.Encoding.CodePages.dll" Source="..\Be.HexEditor\bin\Release\net8.0-windows\System.Text.Encoding.CodePages.dll" Checksum="yes" />
          -->
	  </Component>
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents2" Directory="ProgramMenuFolder">
      <Component Id="C.AppMenu" Guid="31676EDB-CA37-42F6-B415-179E5D7EC393">
        <Shortcut Id="ApplicationStartMenuShortcut" Name="HexEditor" Target="[!Fi.HexEditorExe]" WorkingDirectory="Di.INSTALLFOLDER" Icon="MainIcon.ico" IconIndex="0" />
        <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]" Value="" Type="string" KeyPath="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>

	<!--
    <Fragment>
		<ComponentGroup Id="Runtimes" Directory="Di.RuntimeFolder">
			<Component Id="C.Runtimes">
				<File Id="Fi.RuntimeCodePages" Name="System.Text.Encoding.CodePages.dll" Source="..\Be.HexEditor\bin\Release\net8.0-windows\runtimes\win\lib\net8.0\System.Text.Encoding.CodePages.dll" />
			</Component>
		</ComponentGroup>
	</Fragment>
    -->

	<Fragment>
		<ComponentGroup Id="LanguageDe" Directory="Di.LanguageDe">
			<Component Id="C.LanguageDe">
				<File Id="Fi.LanguageDe" Name="Be.HexEditor.resources.dll" Source="..\Be.HexEditor\bin\Release\net8.0-windows\de\Be.HexEditor.resources.dll" />
			</Component>
		</ComponentGroup>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="LanguageIt" Directory="Di.LanguageIt">
			<Component Id="C.LanguageIt">
				<File Id="Fi.LanguageIt" Name="Be.HexEditor.resources.dll" Source="..\Be.HexEditor\bin\Release\net8.0-windows\it\Be.HexEditor.resources.dll" />
			</Component>
		</ComponentGroup>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="LanguageJa" Directory="Di.LanguageJa">
			<Component Id="C.LanguageJa">
				<File Id="Fi.LanguageJa" Name="Be.HexEditor.resources.dll" Source="..\Be.HexEditor\bin\Release\net8.0-windows\ja\Be.HexEditor.resources.dll" />
			</Component>
		</ComponentGroup>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="LanguageRu" Directory="Di.LanguageRu">
			<Component Id="C.LanguageRu">
				<File Id="Fi.LanguageRu" Name="Be.HexEditor.resources.dll" Source="..\Be.HexEditor\bin\Release\net8.0-windows\ru\Be.HexEditor.resources.dll" />
			</Component>
		</ComponentGroup>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="LanguageZh_Hans" Directory="Di.LanguageZh_Hans">
			<Component Id="C.LanguageZh_Hans">
				<File Id="Fi.LanguageZh_Hans" Name="Be.HexEditor.resources.dll" Source="..\Be.HexEditor\bin\Release\net8.0-windows\zh-Hans\Be.HexEditor.resources.dll" />
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>
